<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/forms.css">
</head>
<%- include('../includes/navigation.ejs') %>
  <main>
      <h1>Login</h1>
      <form action="/login" method="POST" class="form">
        <div class="form-control">
          <label for="username">User Name</label>
          <input 
              type="text" 
              name="username" 
              id="username"
              value="<%= oldInput.username %>"
              required
          >
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input 
              type="password" 
              name="password" 
              id="password"
              minlength="6"
              value="<%= oldInput.password %>"
              required
          >
        </div>
      <button class="btn" type="submit">Login</button>
      </form>
      <% if (errorMessage) { %>
        <p class="message-error"><%= errorMessage %></p>
      <% } %>
  </main>
<%- include('../includes/footer.ejs') %>